/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

:root {
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --very-dark-blue: #1c232b;
  --dark-grayish-blue: #6c7289;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 65.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: var(--dark-grayish-blue);
  background-color: var(--cream);
  position: relative;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  width: 600px;
  position: absolute;
  border-radius: .8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.productimage {
  width: 28rem;
}

.card .productinfo {
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.productinfo--category {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.productinfo--title {
  color: var(--very-dark-blue);
  font-family: Fraunces;
  font-size: 3rem;
  line-height: 1;
  margin: 1.8rem 0;
}

.productinfo--description {
  font-size: 1.3rem;
  margin: 1.8rem 0;
}

.productinfo--pricebox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.productinfo--pricebox .price-current {
  color: var(--dark-cyan);
  font-family: Fraunces;
  font-size: 3rem;
}

.productinfo--pricebox .price-cut {
  font-size: 1.3rem;
  text-decoration: line-through;
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
  height: 4.5rem;
  text-decoration: none;
  margin-top: 1.8rem;
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-cart {
  background-color: var(--dark-cyan);
  color: var(--white);
  transition: background-color .3s ease-in-out;
}

.btn-add-cart img {
  margin: 0 .8rem;
}

.btn-add-cart:hover {
  background-color: #1d3f32;
}

@media (max-width: 600px) {
  .card {
    width: 95%;
    flex-direction: column;

  }

  .productimage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  .card .productinfo {
    width: 100%;
    margin: 0 auto;
  }
}